/*! normalize/.styl | http://github.com/nulltask/normalize/.styl */
/*! based on hail2u's normalize/.scss | https://github.com/hail2u/normalize/.scss */

normalize-html5()
  @import 'html5'

normalize-base()
  @import 'base'

normalize-links()
  @import 'links'

normalize-typography()
  @import 'typography'

normalize-lists()
  @import 'lists'

normalize-embed()
  @import 'embed'

normalize-figures()
  @import 'figures'

normalize-forms()
  @import 'forms'

normalize-tables()
  @import 'tables'


normalize-html5()
normalize-base()
normalize-links()
normalize-typography()
normalize-lists()
normalize-embed()
normalize-figures()
normalize-forms()
normalize-tables()
