/**
 * Output font-size (and line-height) in rem with px fallback
 *
 * @param $size
 *   rem and px: will be converted to rem with px fallback
 *   % and em will pass through without conversion
 * @param $line_height
 *   Optional, behaves same as $size
 */
font-size($size, $line_height= false, $lazy_line_height= false)
  $rem_ratio=  1/16

  $unit = unit($size)
  if $unit == 'rem'
    font-size: $size * $rem_ratio
    font-size: $size;
  else if $unit == 'px'
    font-size: $size
    font-size: $size / $rem_ratio
  else if $unit == 'em' ||  $unit == '%'
    font-size: $size;
  else
    font-size unit($size, 'px')
    font-size unit($size * $rem_ratio,'rem')

  if $line_height
    $unit= unit($line_height)
    if $unit == 'rem'
      line-height: $line_height * $rem_ratio
      line-height: $line_height
    else if $unit == 'px'
      line-height: $line_height
      line-height: $line_height / $rem_ratio
    else if $unit == 'em' ||  $unit == '%'
      line-height: $line_height;
    else
      line-height unit($line_height, 'px')
      line-height unit($line_height * $rem_ratio,'rem')

  if !$line_height && $lazy_line_height
    $line_height = $size * 1.5
    line-height unit($line_height, 'px')
    line-height unit($line_height * $rem_ratio,'rem')

      
// logo mixin    
default-logo(retin=false, hover=false, img_name="logo")
  if hover
    &:hover
      background-position 0px unit(image-size("../images/"+img_name+".png")[1], px)
  width unit(image-size("../images/"+img_name+".png")[0], px)
  height unit(image-size("../images/"+img_name+".png")[1], px)
  background-size unit(image-size("../images/"+img_name+".png")[0], px) unit(image-size("../images/"+img_name+".png")[1], px)
  background-color transparent
  background-image url("/images/"+img_name+".png")
  background-repeat no-repeat
  background-position 0 0
  @media $retina
    if retin
      background-image url("/images/"+img_name+"@2x.png")
      if hover
        &:hover
          background-position 0px unit(image-size("../images/"+img_name+"@2x.png")[1], px)
