// Typography
// -------------------------
$sansFontFamily=        "Helvetica Neue", Helvetica, Arial, sans-serif
$serifFontFamily=       Georgia, "Times New Roman", Times, serif
$monoFontFamily=        Monaco, Menlo, Consolas, "Courier New", monospace

$baseFontSize=          14
$baseFontFamily=        $sansFontFamily
$baseLineHeight=        20
$altFontFamily=         $serifFontFamily

$headingsFontFamily=    inherit // empty to use BS default, @baseFontFamily
$headingsFontWeight=    bold    // instead of browser default, bold
$headingsColor=         inherit // empty to use BS default, @textColor


