#fixed-grid .d1
  renderColumn(1,3,990,35,true,even)
#fixed-grid .d2
  renderColumn(2,3,990,35,true,even)
#fixed-grid .d3
  renderColumn(3,3,990,35,true,even)

#fluid-grid .d1
  renderColumn(1,12,960,20,false,golden)
#fluid-grid .d2
  renderColumn(2,12,960,20,false,golden)
#fluid-grid .d3
  renderColumn(3,12,960,20,false,golden)
#fluid-grid .d4
  renderColumn(4,12,960,20,false,golden)
#fluid-grid .d5
  renderColumn(5,12,960,20,false,golden)
#fluid-grid .d6
  renderColumn(6,12,960,20,false,golden)
#fluid-grid .d7
  renderColumn(7,12,960,20,false,golden)
#fluid-grid .d8
  renderColumn(8,12,960,20,false,golden)
